stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  
# 1. KODNI DOCKER IMIDJGA YIG'ISH VA REGISTRY-GA YUKLASH
build_image:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    echo $CI_REGISTRY_PASSWORD | docker login \
      -u $CI_REGISTRY_USER \
      --password-stdin $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE .
    - docker push $DOCKER_IMAGE

# 2. SERVERGA DEPLOY QILISH (AVTODEPLOY)
deploy_job:
  stage: deploy
  image: alpine:latest
  before_script:
    # SSH ulanish uchun muhitni tayyorlash
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SERVER_IP >> ~/.ssh/known_hosts
  script:
    - ssh $SERVER_USER@$SERVER_IP "
        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY &&
        cd /home/project/your-app && 
        docker pull $DOCKER_IMAGE &&
        docker-compose up -d --build
      "
  only:
    - main  # Faqat main branchga kod tushsa deploy bo'ladi