version: "3.9"

services:
  api:
    build: .
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    networks:
      - lesson-docker_default
    restart: always

networks:
  lesson-docker_default:
    external: true