version: "3.9"
services:
  docker_ci_gitlab: #bu container nomi 
    image: ghcr.io/${{ github.repository }}:${{ github.sha }} # GitLab-dan keladigan imidj nomi
    # Agar serverda docker-compose.yml ichida:
    #build: .    #Bu yana serverda build qiladi.
    #image: registry.gitlab.com/user/app:main    #Shunda server build qilmaydi.
    ports:
      - "1221:7777"
    env_file:
      - .env
    restart: always
    networks:
      - lesson-docker_default    # docker network create lesson-docker_default buyrug'ini ishga tushirgan bo'lishingiz shart.

networks:
  lesson-docker_default:
    external: true #   Docker-da oldindan mavjud bo'lishi kerakligini bildiradi.
